content.aux
content.bbl
content.blg
content.log
content.pdf
eurovis/eurovis.tcp
eurovis_paper.aux
eurovis_paper.bbl
eurovis_paper.blg
eurovis_paper.brf
eurovis_paper.lbl
eurovis_paper.log
eurovis_paper.pdf
texput.log
eurovis_paper.tcp
eurovis/eurovis.tps
